/* Default color for links */
html{
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    background-color: black;
}

.custom-navbar {
    background-color: #bb86fc;
    color: black;
    /*width: 100%;*/
    /*margin: 0;*/
    /*padding-top: 0vw;*/
    /*padding-bottom: 0vw;*/
}

.table-borderless {
    border: none; /* Remove borders */
}

a {
    color: lightgrey;
    text-align: center;
}

/* Color for links when hovered */
a:hover {
    color: #bb86fc; /* orange color */
}

.navbar a {
    color: black;
}

.section-title {
    color: lightgrey;
}


footer{
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    padding-left: 0.8vw;
    background-color: black;
    color: #bb86fc; /* white text color for the table */
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: 1.3vw;
}

footer {
    margin-top: 0; /* Remove default margin */
    margin-bottom: 0; /* Remove default margin */
}